<header>
  <div>
    <h1>Task Management</h1>
    <p>Demo application based on Angular and Spring Boot</p>
    <p>used to show ai in software development</p>
  </div>
  <div class="grid-container">
    <div class="grid-item">
      <button mat-raised-button routerLink="/features" routerLinkActive="active-route" matTooltip="Switch to Features page!">
        <span>Features</span>
      </button>
    </div>
    <div class="grid-item">
      <button mat-raised-button routerLink="/employees" routerLinkActive="active-route" matTooltip="Switch to Employee list!">
        <span>Employees</span>
      </button>
    </div>
    <div class="grid-item">
      <button mat-raised-button routerLink="/tasks" routerLinkActive="active-route" matTooltip="Switch to Task list!">
        <span>Tasks</span>
      </button>
    </div>
  </div>
</header>
