header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  width: 90%;
  max-width: 75rem;
  margin: 1rem auto 2rem auto;
  text-align: center;
  background: linear-gradient(
    to bottom,
    #c6d9f0,
    #cfdfff
  );
  padding: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}

h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  font-size: 1rem;
  text-wrap: balance;
}
.grid-container {
  display: grid;
  column-gap: 50px;
  grid-template-columns: auto auto auto;
}
.grid-item {
  align-items: center;
  gap: 0.5rem;
  padding: 0.35rem 0.5rem;
  background-color: #006ec8;
  color: white;
  border: none;
  font: inherit;
  cursor: pointer;
  width: 100%;
  min-width: 10rem;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-decoration: none;
}
.grid-item:hover,
.grid-item:active,
.selected {
  background-color: #5c4b63;
  color: #ffffff;
}
