header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 75rem;
  margin: 0.5rem auto 2rem auto;
  text-align: center;
  background: #ededed;
  padding-top: 0rem;
  padding-bottom: 1rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}

h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
  font-size: 1rem;
  text-wrap: balance;
}
.grid-container {
  display: grid;
  align-items: center;
  column-gap: 20px;
  grid-template-columns: auto auto auto;
}

.grid-item {
  width: 100px;
}

a {
  display: inline-block; /* oder block, je nach Bedarf */
  width: 90%; /* feste Breite, passen Sie diese nach Bedarf an */
  align-items: center;
  align-items: center;
  gap: 1rem;
  padding: 0.3rem 0.5rem;
  background-color: #006ec8;
  color: white;
  border: none;
  font: inherit;
  cursor: pointer;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  text-decoration: none;
  text-align: center;
}

a:active,
.selected {
  background-color: #c4dff6;
  color: black;
}

a:hover {
  background-color: #c4dff6;
  color: black;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.6);
}
