html,  app-root {
  height: 100%;
}

body {
  font-family: "Poppins", sans-serif;
  background: white;
  color: #006ec8;
  margin: 0;
  padding: 0;
  height: 100%;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
